<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.input :image %>
    <%= image_tag @user.image, width: 400, height: 400 unless @user.image.blank? %>
    <br />
  </div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :autofocus => true %></div><br />

  <div><%= f.label :city %><br />
  <%= f.text_field :city, :autofocus => true %></div><br />

  <div><%= f.label :age %><br />
  <%= f.number_field :age, :autofocus => true %></div><br />

  <div><%= f.label :user_name %><br />
  <%= f.text_field :user_name, :autofocus => true %></div><br />

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div><br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div><br />

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div><br />

  <div><%= f.submit "Update", class: 'button'%></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
