<h2>Sign up</h2><hr />

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.input :image %>
  <%= image_tag @user.image, width: 400, height: 400 unless @user.image.blank? %><br />
  </div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true %></div><br />

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :autofocus => true %></div><br />

  <div><%= f.label :age %><br />
  <%= f.number_field :age, :autofocus => true %></div><br />

  <div><%= f.label :city %><br />
  <%= f.text_field :city, :autofocus => true %></div><br />

  <div><%= f.label :user_name %><br />
  <%= f.text_field :user_name, :autofocus => true %></div><br />

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div><br />

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div><br />

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div><br />

  <div><%= f.submit "Sign up", class: 'button'%></div>
<% end %>

<%= render "devise/shared/links" %>
