<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>User name</th>
    <th>Email</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.age %></td>
    <td><%= user.user_name %></td>
    <td><%= user.email %></td>
    <td><%= user.city %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= follow_button(user) %></td>
  </tr>
<% end %>
</table>


