<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.image, width: 200, height: 200 %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>
<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>City:</b>
  <%= @user.city %>
</p>
<p>
  <% unless @user.cats.blank? %>
  <b>Cats:</b>
    <% i = 0 %>
    <% @user.cats.each do |cat| %>
          <%= i == 3 || cat == @user.cats.last ? cat.name : cat.name + ', ' %>
          <% i += 1 %>
    <% end %>
      <%= link_to 'more...', user_cats_path(@user) %><br>
  <% end %><br>
</p>
<p>
  <%= follow_button(@user) %>
</p>


<%= link_to 'Back', :back %>