<h1>Welcome to Cats!</h1>

<% if @cats.count == 0 %>
	<h3>You have not followed anyone... Follow someone!</h3>
	<%= link_to "Check out some users", users_path %>
<% else %>
	<%= render 'cats/grid', :cats => @cats %>
	<%= will_paginate @cats %>
<% end %>


