<!-- views/cats/_form.html.erb -->

<%= simple_form_for @cat do |f| %>
	<%= f.input :name, placeholder: 'the name of your cat' %>
	<%= f.input :bio, label: 'A short biography of your cat.' %>
	<!-- <%= f.select :breed, ["Parsi", "Ragdoll", "Siami"]%> -->

	<%= f.input :image %> 

 <%= image_tag cat.image, width: 400, height: 400 unless cat.image.blank? %>
 <p></p>

 <%= f.input :breed, :as => :select, collection: Cat::BREEDS, :include_blank => false %>
	<p></p>

	<%= f.submit button, class: 'button' %>

<% end %>