<!-- cats/_grid.html.erb -->
<ul class="small-block-grid-2 large-block-grid-3">
  <% @cats.each do |cat| %>
    <li>
      <div class="panel callout feed-item">
        <div class="cat-image">
       		<%= image_tag cat.image.url, width: 200, height: 200 %>
     		</div>
     		<div class="cat-details">
          <h1><%= cat.name %></h1>
          <h3><%= cat.bio %></h3>
          <div class="cat-links">
            <%= like_button_count(cat) %>
            <%= link_to cat.user.full_name, user_path(cat.user_id) unless cat.user == current_user %><p></p><% if can? :update, cat %>
                <%= link_to 'Edit', edit_cat_path(cat) %>
                <%= link_to 'Destroy', cat, method: :delete, 'data-confirm' => 'Are you sure?' %>
              <% end %>
            <%= like_button(cat) %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
