<h1>Hi <%= @follower.full_name %></h1>

<p>
  <%= @cat.user.full_name %> just uploaded a new cat!
</p>
<p>
	 Its name is: <%= @cat.name %>
</p>
<p> 
  <%= link_to "see #{@cat.user.full_name}'s new cat", "http://#{GLOBAL[:site_url]}user_cats_url(@cat.user)" %>
</p>

<%= image_tag("http://#{GLOBAL[:image_base_url]}#{@cat.image}") %>