<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to 'Users', users_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'My Cats', cats_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'New Cat', new_cat_path %></li>
      <li class="divider"></li>

      <% if user_signed_in? %>

      <li><%= link_to 'Fave Cats', favcats_path %></li>
      <li class="divider"></li>

            <li><%= link_to 'Show', user_path(current_user.id) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

    </ul>


      <% else %>

        <li><%= link_to 'Login', new_user_session_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
      <% end %>
    </ul>
  </section>
</nav>