<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "cats" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  	<%= render 'layouts/navbar' %>

    <div class="row">
    	<% if flash[:notice] %>
      <div data-alert class="alert-box success radius">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div data-alert class="alert-box alert radius">
        <%= alert %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
      <div class="panel">
        <%= yield %>
      </div>
    </div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
